{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block body %} 

<style>
    .errorlist{
        color: red;
    }
</style>
<section class="vh-100" style="background-color:#e6f3ff">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img
          src="{% static 'image\vespa.png' %}"
            class="img-fluid bike-img"
            alt="Sample image"
          />
        </div>
        <div class="col-md-8 col-lg-8 col-xl-4 offset-xl-1">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h3>Customer Registration Form</h3><hr>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary">Register as a Customer</button>
            </form>
            <p> Already have an account? <a href="{% url 'ecomapp:customerlogin' %}">Login here</a></p>
        </div>
    </div>
</div>
{% endblock body %}
