{% extends 'base.html' %}
{% load static %}

{% block body %} 


<!-- the-imagesection -->

<header class="background-header">
  <section class="container">
      <div class="row align-items-center">
          <div class="col-md-5">
              <section class="header-text">
                  <h1 class="text-light" style="font-size: 3rem;">Get Up to 50% Off on Selected Gadgets!</h1>
                  <p class="text-light" style="font-size: 1.5rem; margin-bottom: 1rem;">Don't miss out on this limited time offer. Shop now and save big!</p>
                  <a class="btn btn-success btn-lg" href="/all-products/">Shop Now</a>
              </section>
          </div>
          <div class="col-md-7">
              <div class="the-car-img">
                  <a href="/"
                  >
                  <img style = "width:10rem;height:10rem"
                   src="static/image/home.png" alt=""/>
                </a>
              </div>
          </div>
      </div>
  </section>
</header>



  <h5>
    {% if request.user.customer %}
    welcome {{request.user.username}}!
  
    {% endif %}</h5>
</h1>
  <!-- the items -->
  <div class="container">
    <div class="my-4 arrival-border">
      <h5 class="fw-bold m-0">New Arivals</h5>
    </div>
  </div>

  
  
<!-- item vako box -->


<div class="container mb-5">
  <h4>{{cat.title}}</h4><hr>
  <div class="row">
    {%for p in product_list%}
    <div class="card border-success mb-3 m-3 col-md-3 " style="max-width: 18rem;">
      <div class="m-4">
          <h4 >{{p.title}}</h4>
          <hr>
          <img src="{{p.image.url}}"  alt="" class="img-fluid" style="height: 150px; object-fit: contain;" alt="">
          <p class="mt-3">Price: <strike>Rs. {{p.marked_price}}</strike><br> Rs. {{p.selling_price}}</p>
          <div >
            <a href="{% url 'ecomapp:addtocart' p.id %}" class="btn btn-custom mt-2">Add To Cart</a>
            <a href="{% url 'ecomapp:product_detail' p.slug %}" class="btn btn-custom mt-2">See More</a>
            </div>
      </div>
  </div>
      {% endfor %}
  </div>

</div>

<style>
  .card:hover {
      box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  }
  .btn-custom {
      background-color: #28a745;
      color: white;
      border: none;
  }
  .btn-custom:hover {
      background-color: #218838;
  }
</style>
{% endblock body %}